#container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 20px;
}

header {
    padding: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

#contents {
    border: 1px solid gray; 
    width: 700px;
    float: left;
    padding: 20px;
}

#sidebar {
    width: 200px;
    float: right;
    background-color: gold;
    padding: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

#footer {
    border: 1px solid gray;
    clear:both;
    padding: 20px;
}